.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 1%;
  }
  
  .search-bar,
  .search-bar-add {
    padding: 5px;
    border: 1px solid #635d5d;
    border-radius: 30px;
    margin: 0 auto;
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  
  .search-bar-add {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn,
  .btn-r {
    border: none;
    background: none;
    padding: 10px;
  }
  
  .btn {
    border-right: 2px solid rgb(121, 114, 114);
  }
  
  .search-button {
    border: none;
    border-radius: 50%;
    background-color: rgb(212, 45, 40);
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .profile-container {
    display: flex;
    margin-left: auto;
    /* margin-right: 0; */
    position: absolute;
    right: 35px;
    cursor: pointer;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      position: static;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
  
      .globe-i {
        display: none; 
      }
    }
  
    @media (max-width: 400px) {
      .profile {
        padding: 2px 6px;
      }
  
      .menu-icon,
      .profile-icon {
        font-size: 18px;
      }
    }
  }
  
  .profile {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #635d5d;
    border-radius: 30px;
    background-color: #fff;


    .menu-icon,
    .profile-icon {
      font-size: 24px;
      color: #717171;
    }
  .globe-i{
    margin: 50px;
  }
    .menu-icon {
      margin-right: 10px;
    }
  
    .menu,
    .profile-icon {
      width: 30px;
      height: 30px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
    }
  
    @media (max-width: 768px) {
      padding: 3px 8px;
    }
  
    @media (max-width: 400px) {
      padding: 3px;
      border-radius: 20px;
  
      .menu,
      .profile-icon {
        width: 25px;
        height: 25px;
      }
  
      .menu-icon,
      .profile-icon {
        font-size: 18px;
      }
    }
  }
  .globe-i{
    font-size: 36px;
    margin-right: 10px;
  }